.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px 40px;
  background-color: #0c0c0c;
  width: 100%;

  @media screen and (min-width: 767px) {
    flex-direction: row;
  }
}

.actions {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 0;

  .contact {
    padding: 24px 0;
  }

  a {
    color: #fefefe;
    margin-right: 16px;
    display: flex;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .icons {
    align-items: center;
  }

  .dribbble {
    height: 25px;
    width: 25px;
  }

  .linkedin {
    width: 22px;
    height: 22px;
  }

  @media screen and (min-width: 767px) {
    & {
      flex-direction: row;
      margin-right: auto;
      padding: 0;
    }

    .icons {
      flex-direction: row;
      margin-right: auto;
      margin-left: 40px;
    }

    .contact {
      padding: 0;
    }
  }

  @media screen and (min-width: 293px) {
    & {
      width: 293px;
    }
  }
}

.resume {
  padding: 48px 0;

  @media screen and (min-width: 767px) {
    padding: 0;
  }
}

.copyright {
  margin-left: auto;
  align-items: center;
  padding: 24px 0;
  color: #5c5c5c;

  @media screen and (min-width: 293px) {
    width: 293px;
  }

  @media screen and (min-width: 767px) {
    padding: 0;
    align-items: flex-end;
  }
}
